<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show</title>
</head>
<body>
    <h1>Show Page</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Address</td>
            <td>Branch</td>
            <td colspan="2">Actions</td>
        </tr>
        {% for form in object_list %}
        <tr>
            
            <td>{{form.id}}</td>
            <td>{{form.name}}</td>
            <td>{{form.address}}</td>
            <td>{{form.branch}}</td>
            <td><a href="/darjano/update/{{form.pk}}">edit</a></td>
            <td><a href="javascript:{document.getElementById('formid').submit();}">delete</a></td>
            <form method="POST" id="formid" action="/darjano/delete/{{form.pk}}">
                {% csrf_token %}
                <input type="hidden">
            </form>
        </tr>
        {% endfor %}
    </table>
</body>
</html>